.apiko-form-label {
  text-transform: uppercase;
  font-size: 14px;
}


.apiko-form-input {
  width: 95%;
  background-color: #fff;
  border: 1px solid #DEDEE0;
  padding: 10px 7px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}

.apiko-form-input:hover{
  border-bottom: 1px solid rgb(59, 61, 61);
}

.apiko-form-input:focus{
  border-bottom: 1px solid #349A89;
}

/******STATUS BLOCK ******/
.form-status-icon {
  width: 20px;
  position: relative;
  float: right;
  right: 15px;
  bottom: 43px;
  padding: 0;
  margin: 0;
}

.form-status-icon i {
  position: absolute;
}

.red {
  color: red;
}

.green {
  color: green;
}