.login-form{
    position: absolute;
    width: 320px;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius:5px;
    box-shadow:0px 2px 42px 
    rgba(0,0,0,0.111233);
}

.login-form-title{
   text-align: center;
   margin: 0;
   font-size: 26px;
}

.login-form-label{
    text-transform: uppercase;
    font-size: 14px;
}


.login-form-input{
    width: 95%;
    background-color: #fff;
    border: 1px solid #DEDEE0;
    padding: 10px 7px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}

.login-form-input:hover{
    border-bottom: 1px solid rgb(59, 61, 61);
}

.login-form-input:focus{
    border-bottom: 1px solid #349A89;
}

.login-form-helper{
    margin: 0;
    padding-right:3%; 
    text-align: right;
    color: #8c8c8c;
}

.login-form-helper:hover{
    cursor: pointer;
    color: #000;
}

.login-form-btn{
    width: 97%;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    background: #349A89;
    border-radius: 7px;
    font-size: 14px;
    border: none;
    outline:none;
    transition: all 0.3s ease;
}

.login-form-btn:hover{
    cursor: pointer;
    color: #fff;
    background: rgb(18, 83, 72); 
}

/******ERROR BLOCK ******/
.form-status-icon{
    width: 20px;
    position: relative;
    float: right;
    right: 15px;
    bottom: 43px;
    padding: 0;
    margin: 0;
}

.red{
    color: red;
}

.green{
    color: green;
}







/****** REGISTER BLOCK******/
.register-block{
    position: absolute;
    width: 345px;
    bottom:5%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius:7px;
    box-shadow:0px 2px 42px 
    rgba(0,0,0,0.111233);
    transition: all 0.3s ease;
}

.register-block span {
    text-transform: uppercase;
    color: #349A89;
}

.register-block span:hover {
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}





/* MEDIA QUERY */
@media screen and (max-width: 425px){
    .login-form{
        width: 280px;
    }
    .register-block{
        width: 280px;
    }
}